<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.duan.myuilibrarytest">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CalendarActivity" />
        <activity android:name=".activity.GradListActivity" />
        <activity android:name=".activity.GridViewActivity" />
        <activity android:name=".activity.CircleAnimActivity" />
        <activity android:name=".activity.FoldingCellActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.FoldDetailActivity" />
        <activity android:name=".activity.CircleMenuActivity" />
        <activity android:name=".activity.FlexBoxActivity" />
        <activity android:name=".activity.CoordinatorActivity" />
        <activity android:name=".activity.ScrollDemoAcitivity" />
        <activity android:name=".activity.GuaKaActivity" />
        <activity android:name=".activity.AnimationTestAct" />
        <activity android:name=".activity.MotionActivity" />
        <activity android:name=".activity.VoiceActivity" />
        <activity android:name=".activity.GuaKaListActivity" />
        <activity android:name=".activity.MyViewActivity" />
        <activity android:name=".activity.MiaoJieActivity" />
        <activity android:name=".activity.MultiHeightActivity"></activity>
    </application>

</manifest>